@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@300;400;700&family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,900&family=Poppins:wght@300;400;600;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #181818;
  color: #fff;
  padding: 0.5rem 2rem;
}

.logo-container {
  width: 100px;
  height: 100px;
}

.logo-img {
  max-width: 100%;
  max-height: 100%;
  display: block;
}

.text-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fa-heart {
  cursor: pointer;
  transition: all 300ms ease-in-out;
}

.fa-heart:hover {
  color: red;
  transform: scale(1.2);
}

.card-img {
  height: 200px;
  max-width: 100%;
}

.like-number {
  text-align: right;
}

.comment-btn {
  display: block;
  margin: auto;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-self: center;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  gap: 4rem;
  align-self: center;
}

.menu-link {
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  transition: all 300ms ease-in-out;
  filter: brightness(100%);
  text-shadow: 0 0 5px rgb(255, 255, 255), 0 0 10px gray, 0 0 2px gray;
  animation: white 2s ease-in-out infinite alternate;
}

.menu-link:hover {
  color: #ff073a;
  transform: scale(1.2);
}

.page-title {
  color: #ff073a;
  font-size: 3rem;
  text-align: center;
  padding: 3rem 0 5rem 0;
  letter-spacing: 0.3rem;
  filter: brightness(100%);
  text-shadow: 0 0 5px rgb(255, 255, 255), 0 0 10px gray, 0 0 2px gray;
  animation: white 2s ease-in-out infinite alternate;
}

.card-container {
  display: flex;
  flex-direction: column;
  border: 1px solid #fff;
}

.img {
  align-self: center;
  width: 100%;
  height: 100%;
}

.img-container {
  width: 100%;
  height: 80%;
}

.movie-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 3rem;
  grid-row-gap: 3rem;
}

.footer {
  margin: 5%;
  padding: 2%;
}
